<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav #sidenav mode="push">
    <ng-container *ngIf="isAuthenticated$ | async">
      <mat-list class="authenticated-menu">
        <mat-list-item *ngIf="hasPermission$(EAdminPermission.MANAGE_USERS) | async">
          <button mat-button (click)="navigate(['/user', 'index'])" class="users-menu-item">Users</button>
        </mat-list-item>
        <mat-list-item *ngIf="hasPermission$(EAdminPermission.MANAGE_ROLES) | async">
          <button mat-button (click)="navigate(['/role', 'index'])" class="roles-menu-item">Roles</button>
        </mat-list-item>
        <mat-list-item *ngIf="hasPermission$(EAdminPermission.MANAGE_PERMISSIONS) | async">
          <button mat-button (click)="navigate(['/permission', 'index'])" class="permissions-menu-item">Permissions</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-button (click)="navigate(['/user', 'profile'])">Profile</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button (click)="logout()" class="logout-menu-item">Logout</button>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-container *ngIf="!(isAuthenticated$ | async)">
      <mat-list class="anonymous-menu">
        <mat-list-item>
          <button mat-button (click)="navigate(['/login'])" class="login-menu-item">Login</button>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" class="side-nav-button">
          <mat-icon>menu</mat-icon>
        </button>
        <h1>Welcome to {{ title }}!</h1>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
